* { padding: 0; margin: 0; }
body {
    background-color: green;
}
.container {
  margin: 150px auto;
  width: 500px;
  height: 500px;
  position: relative;
 
}
#canvas {
    background: #eee;
    display: block;
  position: absolute;
  z-index: 1;
}
#Canvas {
  background:transparent;
  display: block;
position: absolute;
z-index: 3;
}
#canvas_icon {
  background:transparent;
  display: block;
position: absolute;
z-index: 2;
}
.start {
  position: absolute;
  left: 200px;
  top: -30px;
  width: 100px;
  height: 30px;
} 
.hidden {
  visibility: hidden;
}
